{"openapi":"3.0.0","info":{"title":"Strings Translation API","version":"1.0.0","description":"This API provides on-demand text translation."},"servers":[{"url":"https://platform.strings.dev/api"}],"paths":{"/translate":{"post":{"summary":"Translates text from one language to another.","operationId":"translate","tags":["Translation"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationRequest"}}}},"responses":{"200":{"description":"Successful translation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessfulTranslationResponse"}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingFieldsResponse"}}}},"401":{"description":"Unauthorized access, invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedResponse"}}}},"422":{"description":"Unprocessable Entity - Error processing the translation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponse"}}}}},"security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://platform.strings.dev/api/translate',\n  headers: {'content-type': 'application/json', 'x-api-key': 'REPLACE_KEY_VALUE'},\n  body: {\n    context: 'Do you have any safety concerns?',\n    text: 'No hay suficientes cascos para la tripulación.',\n    targetLanguage: 'en'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"platform.strings.dev\",\n  \"port\": null,\n  \"path\": \"/api/translate\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  context: 'Do you have any safety concerns?',\n  text: 'No hay suficientes cascos para la tripulación.',\n  targetLanguage: 'en'\n}));\nreq.end();"},{"lang":"Node + Axios","source":"var axios = require(\"axios\").default;\n\nvar options = {\n  method: 'POST',\n  url: 'https://platform.strings.dev/api/translate',\n  headers: {'content-type': 'application/json', 'x-api-key': 'REPLACE_KEY_VALUE'},\n  data: {\n    context: 'Do you have any safety concerns?',\n    text: 'No hay suficientes cascos para la tripulación.',\n    targetLanguage: 'en'\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"},{"lang":"Node + Fetch","source":"const fetch = require('node-fetch');\n\nlet url = 'https://platform.strings.dev/api/translate';\n\nlet options = {\n  method: 'POST',\n  headers: {'content-type': 'application/json', 'x-api-key': 'REPLACE_KEY_VALUE'},\n  body: '{\"context\":\"Do you have any safety concerns?\",\"text\":\"No hay suficientes cascos para la tripulación.\",\"targetLanguage\":\"en\"}'\n};\n\nfetch(url, options)\n  .then(res => res.json())\n  .then(json => console.log(json))\n  .catch(err => console.error('error:' + err));"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://platform.strings.dev/api/translate\"\n\n\tpayload := strings.NewReader(\"{\\\"context\\\":\\\"Do you have any safety concerns?\\\",\\\"text\\\":\\\"No hay suficientes cascos para la tripulación.\\\",\\\"targetLanguage\\\":\\\"en\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Unirest","source":"HttpResponse<String> response = Unirest.post(\"https://platform.strings.dev/api/translate\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"x-api-key\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"context\\\":\\\"Do you have any safety concerns?\\\",\\\"text\\\":\\\"No hay suficientes cascos para la tripulación.\\\",\\\"targetLanguage\\\":\\\"en\\\"}\")\n  .asString();"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://platform.strings.dev/api/translate\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"context\\\":\\\"Do you have any safety concerns?\\\",\\\"text\\\":\\\"No hay suficientes cascos para la tripulación.\\\",\\\"targetLanguage\\\":\\\"en\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\",\n    \"x-api-key: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"platform.strings.dev\")\n\npayload = \"{\\\"context\\\":\\\"Do you have any safety concerns?\\\",\\\"text\\\":\\\"No hay suficientes cascos para la tripulación.\\\",\\\"targetLanguage\\\":\\\"en\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'x-api-key': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/api/translate\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://platform.strings.dev/api/translate\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"x-api-key\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"context\\\":\\\"Do you have any safety concerns?\\\",\\\"text\\\":\\\"No hay suficientes cascos para la tripulación.\\\",\\\"targetLanguage\\\":\\\"en\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://platform.strings.dev/api/translate \\\n  --header 'content-type: application/json' \\\n  --header 'x-api-key: REPLACE_KEY_VALUE' \\\n  --data '{\"context\":\"Do you have any safety concerns?\",\"text\":\"No hay suficientes cascos para la tripulación.\",\"targetLanguage\":\"en\"}'"}]}}},"components":{"schemas":{"TranslationRequest":{"type":"object","properties":{"context":{"type":"string","description":"Additional context to help with the translation. Optional.","example":"Do you have any safety concerns?"},"text":{"type":"string","description":"The text to translate.","example":"No hay suficientes cascos para la tripulación."},"targetLanguage":{"type":"string","description":"The target language code (e.g., 'en', 'es').","example":"en"}},"required":["text","targetLanguage"]},"SuccessfulTranslationResponse":{"type":"object","properties":{"translatedText":{"type":"string","example":"There are not enough helmets for the crew."},"originalLanguage":{"type":"string","example":"es"}}},"UnauthorizedResponse":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized access"}}},"MissingFieldsResponse":{"type":"object","properties":{"error":{"type":"string","example":"Missing required fields"}}},"UnprocessableEntityResponse":{"type":"object","properties":{"error":{"type":"string","example":"Error processing translation request. The text could not be translated due to [specific reason]."}}},"InternalServerErrorResponse":{"type":"object","properties":{"error":{"type":"string","example":"Internal Server Error"}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}}}}
