openapi: "3.0.0"
info:
  title: "Strings Translation API"
  version: "1.0.0"
  description: "This API provides on-demand text translation."
servers:
  - url: "https://platform.strings.dev/api"
paths:
  /translate:
    post:
      summary: "Translates text from one language to another."
      operationId: "translate"
      tags:
        - "Translation"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        "200":
          description: "Successful translation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTranslationResponse'
        "401":
          description: "Unauthorized access, invalid or missing API key"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "400":
          description: "Missing required fields"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingFieldsResponse'
        "422":
          description: "Unprocessable Entity - Error processing the translation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      security:
        - ApiKeyAuth: []
  /translate/conversation:
    post:
      summary: "Translate the next message in a conversation."
      description: "Translates the next message in a conversation using the context provided by previous messages."
      operationId: "translateConversationMessage"
      tags:
        - "Translation"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationTranslationRequest'
      responses:
        '200':
          description: "The request was successful."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTranslationResponse'
        "401":
          description: "Unauthorized access, invalid or missing API key"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "400":
          description: "Missing required fields"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingFieldsResponse'
        "422":
          description: "Unprocessable Entity - Error processing the translation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      security:
        - ApiKeyAuth: []
  /translate/conversationWithChatID:
    post:
      summary: "Translate Message with Chat ID"
      description: "Uses a chatID to provide context for translating the next message in a conversation."
      operationId: "translateMessageWithChatID"
      tags:
        - "Translation"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateRequestWithChatID'
      responses:
        '200':
          description: "Successful translation with context."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTranslationResponse'
        "400":
          description: "Missing required fields"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingFieldsResponse'
        "401":
          description: "Unauthorized access, invalid or missing API key"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "422":
          description: "Unprocessable Entity - Error processing the translation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      security:
        - ApiKeyAuth: []
components:
  schemas:
    TranslationRequest:
      type: "object"
      properties:
        context:
          type: "string"
          description: "Additional context to help with the translation. Optional."
          example: "Do you have any safety concerns?"
        text:
          type: "string"
          description: "The text to translate."
          example: "No hay suficientes cascos para la tripulación."
        targetLanguage:
          type: "string"
          description: "The target language code (e.g., 'en', 'es')."
          example: "en"
      required:
        - "text"
        - "targetLanguage"
    ConversationTranslationRequest:
      type: "object"
      required:
        - "previousMessages"
        - "nextMessage"
        - "targetLanguage"
      properties:
        previousMessages:
          type: "array"
          items:
            $ref: '#/components/schemas/Message'
        nextMessage:
          $ref: '#/components/schemas/Message'
        targetLanguage:
          type: "string"
      example:
        previousMessages:
          - sender: "user123"
            text: "Hello how are you?"
          - sender: "user456"
            text: "I'm fine thanks! And you?"
        nextMessage:
          sender: "user123"
          text: "Me alegro yo también estoy bien."
        targetLanguage: "en"
    TranslateRequestWithChatID:
      type: "object"
      required:
        - "chatID"
        - "message"
        - "targetLanguage"
      properties:
        chatID:
          type: "string"
          description: "The unique identifier for the conversation."
          example: "123456789"
        message:
          $ref: '#/components/schemas/Message'
        targetLanguage:
          type: "string"
          description: "The target language code."
          example: "en"
      example:
        chatID: "123456789"
        message:
          sender: "user123"
          text: "Me alegro yo también estoy bien."
        targetLanguage: "en"
    Message:
      type: "object"
      required:
        - "sender"
        - "text"
      properties:
        sender:
          type: "string"
        text:
          type: "string"
    SuccessfulTranslationResponse:
      type: "object"
      properties:
        translatedText:
          type: "string"
          example: "This is the translated text"
        originalLanguage:
          type: "string"
          example: "es"
    UnauthorizedResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Unauthorized access"
    MissingFieldsResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Missing required fields"
    UnprocessableEntityResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Error processing translation request. The text could not be translated due to [specific reason]."
    InternalServerErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Internal Server Error"
  securitySchemes:
    ApiKeyAuth:
      type: "apiKey"
      in: "header"
      name: "x-api-key"
