openapi: "3.0.0"
info:
  title: "Strings Translation API"
  version: "1.0.0"
  description: "This API provides on-demand text translation."
servers:
  - url: "https://platform.strings.dev/api"
paths:
  /translate:
    post:
      summary: "Translates text from one language to another."
      operationId: "translate"
      tags:
        - "Translation"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        "200":
          description: "Successful translation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTranslationResponse'
        "401":
          description: "Unauthorized access, invalid or missing API key"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        "400":
          description: "Missing required fields"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingFieldsResponse'
        "422":
          description: "Unprocessable Entity - Error processing the translation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      security:
        - ApiKeyAuth: []
components:
  schemas:
    TranslationRequest:
      type: "object"
      properties:
        context:
          type: "string"
          description: "Additional context to help with the translation. Optional."
          example: "Legal document translation"
        text:
          type: "string"
          description: "The text to translate."
          example: "Hello, world!"
        targetLanguage:
          type: "string"
          description: "The target language code (e.g., 'en', 'es')."
          example: "es"
      required:
        - "text"
        - "targetLanguage"
    SuccessfulTranslationResponse:
      type: "object"
      properties:
        translatedText:
          type: "string"
          example: "¡Hola, mundo!"
        originalLanguage:
          type: "string"
          example: "en"
    UnauthorizedResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Unauthorized access"
    MissingFieldsResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Missing required fields"
    UnprocessableEntityResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Error processing translation request. The text could not be translated due to [specific reason]."
    InternalServerErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
          example: "Internal Server Error"
  securitySchemes:
    ApiKeyAuth:
      type: "apiKey"
      in: "header"
      name: "x-api-key"
