
"openapi": "3.0.0"
"info":
  "title": "Strings Translation API"
  "version": "1.0.0"
  "description": "This API provides on-demand text translation."
"servers":
  -
    "url": "https://platform.strings.dev/api"
"paths":
  "/translate":
    "post":
      "summary": "Translates text from one language to another."
      "operationId": "translate"
      "tags":
        - "Translation"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "properties":
                "context":
                  "type": "string"
                  "description": "Additional context to help with the translation. Optional."
                  "example": "Legal document translation"
                "text":
                  "type": "string"
                  "description": "The text to translate."
                  "example": "Hello, world!"
                "targetLanguage":
                  "type": "string"
                  "description": "The target language code (e.g., 'en', 'es')."
                  "example": "es"
              "required":
                - "text"
                - "targetLanguage"
      "responses":
        "200":
          "description": "Successful translation"
          "content":
            "application/json":
              "schema":
                "type": "object"
                "properties":
                  "translatedText":
                    "type": "string"
                    "example": "¡Hola, mundo!"
                  "originalLanguage":
                    "type": "string"
                    "example": "en"
        "401":
          "description": "Unauthorized access, invalid or missing API key"
          "content":
            "application/json":
              "schema":
                "type": "object"
                "properties":
                  "error":
                    "type": "string"
                    "example": "Unauthorized access"
        "400":
          "description": "Missing required fields"
          "content":
            "application/json":
              "schema":
                "type": "object"
                "properties":
                  "error":
                    "type": "string"
                    "example": "Missing required fields"
        "422":
          "description": "Unprocessable Entity - Error processing the translation"
          "content":
            "application/json":
              "schema":
                "type": "object"
                "properties":
                  "error":
                    "type": "string"
                    "example": "Error processing translation request. The text could not be translated due to [specific reason]."
        "500":
          "description": "Internal Server Error"
          "content":
            "application/json":
              "schema":
                "type": "object"
                "properties":
                  "error":
                    "type": "string"
                    "example": "Internal Server Error"
      "security":
        -
          "ApiKeyAuth": []
"components":
  "securitySchemes":
    "ApiKeyAuth":
      "type": "apiKey"
      "in": "header"
      "name": "x-api-key"